<div class="site-category">
    <ul class='cat1'>
      <li><a href="/">Home</a></li>
      <li><a href="/">Python</a>
        <ul>
            <li><a href="/Python/Crawler">Crawler</a></li>
            <li><a href="/Python/Django">Django</a></li>
            <li><a href="/Python/Tensorflow">Tensorflow</a></li>
        </ul>
      </li>

      <li><a href="/">C++</a>
        <ul>
          <li><a href="/C++/AS">Algorithm Studies</a></li>
        </ul>
      </li>

      <li><a href="/">Unity</a>
        <ul>
            <li><a href="/Unity/Game">Game Programming</a></li>
        </ul>
      </li>

      <li><a href="/">Android</a>
        <ul>
          <li><a href="/Android/Android">Android</a></li>
        </ul>
      </li>

    </ul>
  </div>
